.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	padding-left: 20%;
	margin: 5px 0;
	border-radius: 10px;
	box-shadow: 0 2px 5px 1px #d4d8db;

	&__buttons-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100px;
		min-width: 100px;
	}

	&__btn {
		width: 30px;
		height: 30px;
		border-width: 1px;
	}
}
